# =========================================================
# AXIONHR HAVEN - SUPABASE CONFIGURATION
# =========================================================
# 1. Sign up at https://supabase.com and create a project
# 2. In Project Settings -> API, copy your Project URL & Anon Key
# 3. Rename or copy this file to `.env.local` and paste your keys below:

NEXT_PUBLIC_SUPABASE_URL=sb_publishable_upNeie72JVQOzppDPB8oow_z6lx6DF8
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9kd3J6eGlobWpza3ljZndnb2p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY0MjM2NTcsImV4cCI6MjEwMTk5OTY1N30.-b0IIT6ue1pLncci65SalxeJmWW9PaCqgrRY9kAITBA
SUPABASE_SERVICE_ROLE_KEY=veyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9kd3J6eGlobWpza3ljZndnb2p1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjQyMzY1NywiZXhwIjoyMTAxOTk5NjU3fQ.qwH1YpliSBFpo-6Ex7lj6blebacn4-KfQejampvGF2w # (Keep secret on server)
